In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('/content/Corona_NLP_train.csv',encoding='latin1')

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df.head(20)

    UserName  ...           Sentiment
0       3799  ...             Neutral
1       3800  ...            Positive
2       3801  ...            Positive
3       3802  ...            Positive
4       3803  ...  Extremely Negative
5       3804  ...            Positive
6       3805  ...            Positive
7       3806  ...             Neutral
8       3807  ...            Positive
9       3808  ...            Negative
10      3809  ...             Neutral
11      3810  ...  Extremely Positive
12      3811  ...  Extremely Positive
13      3812  ...            Positive
14      3813  ...            Positive
15      3814  ...            Positive
16      3815  ...             Neutral
17      3816  ...             Neutral
18      3817  ...  Extremely Positive
19      3818  ...            Positive

[20 rows x 6 columns]

In [ ]:
df.dtypes

UserName          int64
ScreenName        int64
Location         object
TweetAt          object
OriginalTweet    object
Sentiment        object
dtype: object

In [ ]:
df.isna().sum()

UserName            0
ScreenName          0
Location         8590
TweetAt             0
OriginalTweet       0
Sentiment           0
dtype: int64

In [ ]:
!pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading https://files.pythonhosted.org/packages/17/9d/71bd016a9edcef8860c607e531f30bd09b13103c7951ae73dd2bf174163c/tweet_preprocessor-0.6.0-py3-none-any.whl
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [ ]:
import preprocessor as p
j=""
for i in df.OriginalTweet:
  p.set_options(p.OPT.URL, p.OPT.EMOJI,p.OPT.MENTION,p.OPT.HASHTAG,p.OPT.RESERVED,p.OPT.SMILEY,p.OPT.NUMBER)
  j=p.clean(i)
  df.OriginalTweet[i].replace(i,j)

In [ ]:
import re
a = re.compile("(@[A-Za-z0-9]+)|(#[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)")
tweet = []

for i in df["OriginalTweet"]:
  tweet.append(a.sub(" ", i))

df = pd.concat([df, pd.DataFrame(tweet, columns=["Preprocessed"])], axis=1, sort=False)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))     
vectoriser = TfidfVectorizer(stop_words=None)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
X_train = vectoriser.fit_transform(df["Preprocessed"])
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y_train = encoder.fit_transform(df['Sentiment'])
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train)
test_data = pd.read_csv("/content/Corona_NLP_test.csv",encoding='latin1')
test_df = pd.DataFrame(test_data)
a = re.compile("(@[A-Za-z0-9]+)|(#[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)")
tweet = []
for i in test_df["OriginalTweet"]:
  tweet.append(a.sub(" ", i))
test_df = pd.concat([test_df, pd.DataFrame(tweet, columns=["Preprocessed"])], axis=1, sort=False)

In [ ]:
X_test = vectoriser.transform(test_df["Preprocessed"])
y_test = encoder.transform(test_df["Sentiment"])
y_pred = classifier.predict(X_test)
pred_df = pd.DataFrame({'Actual': y_test, 'Prediction': y_pred})
pred_df.head()

   Actual  Prediction
0       0           2
1       4           4
2       1           4
3       2           2
4       3           2